<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function greet(){
            alert("I am from server!")
        }
    </script>
</head>

<body>
    <button type="button" onclick="greet()">Click Me</button>
    <br><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Coding_da_Vinci_-_Der_Kultur-Hackathon_%2814123515524%29.jpg/1280px-Coding_da_Vinci_-_Der_Kultur-Hackathon_%2814123515524%29.jpg" width="200" height="200">
</body>
</html>